:root {
    --font-family-fredoka: 'Fredoka One', cursive;
    --font-family-nerko: 'Nerko One', cursive;
    --color-black: #595959;
    --color-blue: #789BDC;
    --color-red: #fce4ec;
    --color-blood: #BD6E89;
    --color-orange: #fff3d3;
    --color-gold: #A58639;
    --color-skyblue: #ebf2ff;
}

* {
    font-family: var(--font-family-fredoka);
    font-size: 1.1rem;
    font-weight: bold;
}

li {
    color: var(--color-black);
}

.navbar__logo {
    font-family: var(--font-family-nerko);
    font-size: 2rem;
    color: var(--color-black);
}

.navbar__list {
    color: var(--color-black);
}

.navbar__button {
    padding: 0.5em 2em;
    color: var(--color-blue);
    border: solid 2px var(--color-blue);
    border-radius: 2em;
}

.hero__title--black {
    font-family: var(--font-family-nerko);
    font-size: 5.4rem;
    font-weight: lighter;
    color: var(--color-black);
    line-height: 0.9;
}

.hero__title--blue {
    font-family: var(--font-family-nerko);
    font-size: 5.4rem;
    font-weight: lighter;
    color: var(--color-blue);
    line-height: 0.9;
}

.hero__subtitle {
    margin: 0.2em 0;
    font-size: 1.7rem;
    font-weight: 600;
    color: #737373;
    line-height: 1.2;
}

.hero__button {
    margin-top: 0.5em;
    padding: 0.7em 2em;
    color: white;
    background-color: var(--color-blue);
    border-radius: 2em;
}

.hero__image {
    scale: 1.1;
}

.title--black {
    font-family: var(--font-family-nerko);
    font-size: 3rem;
    font-weight: lighter;
    color: var(--color-black);
    line-height: 0.9;
}

.title--blue {
    font-family: var(--font-family-nerko);
    font-size: 3rem;
    font-weight: lighter;
    color: var(--color-blue);
    line-height: 0.9;
}

.features__card-image {
    width: 5em;
}

.features__first-card {
    width: 24%;
    padding: 1.2em 1em;
    background-color: var(--color-red);
    color: var(--color-blood);
    border-radius: 1em;
}

.features__second-card {
    width: 22%;
    padding: 1.2em 1em;
    background-color: var(--color-orange);
    color: var(--color-gold);
    border-radius: 1em;
}

.features__third-card {
    width: 22%;
    padding: 1.2em 1em;
    background-color: var(--color-skyblue);
    color: var(--color-blue);
    border-radius: 1em;
}

.features__image {
    width: 22%;
}

.functionalities__card {
    background: linear-gradient(125.65deg, #fef5db, #ffdfdf);
    border-radius: 8rem 1rem 1rem 1rem;
}

.functionalities__model-image {
    width: 40em;
}

.functionalities__card-image {
    max-width: 5em;
}

.black-text {
    color: var(--color-black);
}

@media (max-width: 1200px) {
    .navbar__button {
        padding: 0.4em 1em;
    }

    .hero__title--black {
        font-size: 2.2rem;
    }

    .hero__title--blue {
        font-size: 2.2rem;
    }

    .hero__subtitle {
        font-size: 1.2rem;
    }

    .hero__button {
        margin-top: 0.5em;
        padding: 0.4em 1.5em;
        color: white;
        background-color: var(--color-blue);
        border-radius: 2em;
    }

    .title--black {
        font-size: 1.7rem;
    }

    .title--blue {
        font-size: 1.7rem;
    }

    .features__first-card {
        width: 100%
    }

    .features__second-card {
        width: 100%
    }

    .features__third-card {
        width: 100%
    }

    .features__image {
        width: 100%;
    }

    .functionalities__card {
        border-radius: 4rem 1rem 1rem 1rem;
    }

    .functionalities__model-image {
        display: none;
    }

    .functionalities__card-image {
        max-width: 3em;
    }
}